[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-configurations = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
ipython = "*"
"flake8" = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
